body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

/* application font */
core-scaffold {
    font-family: sans-serif;
}

/* menu bar of the left panel */
core-toolbar {
    background: #616161;
    color: #fafafa;
}

.content {
    padding: 20px;
}

/* title bar of the right panel */
core-scaffold::shadow core-toolbar {
    background: #ff5722;
    color: #fafafa;
}

/* content of the right panel */
core-scaffold::shadow core-header-panel {
    background: #ffccbc;
    color: #212121;
}

core-header-panel {
  color: #01579b;
}

core-header-panel > core-item {
  transition: all 200ms ease-in-out;
}

core-header-panel > polymer-github-card {
  position: absolute; bottom: 0; left: 0;
}

core-header-panel  core-item:not(:first-of-type) {
  border-top: 1px solid #ededed;
}

core-header-panel > core-item:hover,
core-header-panel > corer-item:focus,
core-header-panel > core-item.core-selected {
  background: #e1f5fe;
}

core-header-panel > core-item[active] a{
  color: #ff5722;
}

core-header-panel > core-item[active] {
  border-right: 3px solid #ff5722;
  color: #ff5722;
}

polymer-github-card::shadow #user{
    width: auto;
}

@media screen and (max-width: 600px){
    polymer-github-card {
        display: none;
    }
}

@media screen and (max-height: 510px){
    polymer-github-card {
        display: none;
    }
}