@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

:host {
  display: block;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold; 
  font-family: 'Roboto 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;    
  @include linear-gradient(#000, #BADA55);
}

::content *{
  padding-left: 15px;    
  font-size: 1rem;
  font-weight: normal;
}

:host paper-shadow {
   height: 250px;
}

li {
 font-size: 20px;
}

polyfill-next-selector { content: '.ficha-detalle img'; }
::content img {
  margin-right: 20px;
  height: 250px;
  min-width: 250px;
  pointer-events: none;   
}

polyfill-next-selector { content: '.ficha-detalle img:hover'; }
::content img:hover {
    opacity: 1;
    transition: all 300ms ease-in-out;
    border: 0;
}

paper-ripple {
  color: #4285f4;
}

paper-fab {
  color: #fff;
  margin:10px;
}