@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}

@mixin radial-gradient($from, $to) {
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-image: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-color: rgba(0,0,0,0.03);
}

:host {
  display: inline-block;
  background-color:rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  font-weight: 100;
  width: 250px;
  max-width: 250 px;//calc((100 / 8)% - 16px);
  max-height: 250px;
  overflow: hidden;
  font-family: 'Roboto 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}

::content nombre, ::content apellido1, ::content apellido2 {
  font-size: 1rem;
  font-weight: 20;
}

::content ciudad, ::content provincia {
  font-size: 0.7rem;
  font-weight: 80;
}

::content provincia {
  font-style: italic;
}

polyfill-next-selector { content: '.ficha-alumno img'; }
::content img {
  @include clip-path(ellipse(32% 42% at 50% 50%));
  overflow: hidden;    
  opacity: 0.8;
  max-height: 150px;
}


polyfill-next-selector { content: '.ficha-alumno img:hover'; }
::content img:hover {
    opacity: 1;
    transition: all 300ms ease-in-out;
    border: 0;
}

paper-ripple {
  color: #4285f4;
}

paper-icon-button {
  color: black;
  padding: 8 0 0 0;
}

core-image {
  max-height: 150px;  
}

