@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}

@mixin radial-gradient($from, $to) {
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-image: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-color: rgba(0,0,0,0.03);
}

:host {
  display: inline-block;
  background-color:rgba(0, 0, 0, 0.05);
  padding: 10px;
  font-size: 1rem;
  font-weight: 100; 
  width: 250px;
  max-width: 250 px;//calc((100 / 8)% - 16px);
  max-height: 250px;
  overflow: hidden;
  font-family: 'Roboto 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::content nombre, ::content apellido1, ::content apellido2 {
  font-size: 1rem;
  font-weight: 20;
}

::content ciudad, ::content provincia {
  font-size: 0.7rem;
  font-weight: 80;
}

::content provincia {
  font-style: italic;
}

:host foto {
    @include clip-path(ellipse(39% 44% at 50% 50%));
    @include radial-gradient(#FFF, #000);  
    overflow: hidden;
}

polyfill-next-selector { content: '.ficha-alumno img'; }
::content img {
  @include clip-path(ellipse(40% 47% at 50% 50%));
  opacity: 0.8;
  margin: 2px;
}

polyfill-next-selector { content: '.ficha-alumno img:hover'; }
::content img:hover {
    opacity: 1;
    transition: all 300ms ease-in-out;
    border: 0;
}

paper-ripple {
  color: #4285f4;
}

.drag-button {
  color: black;
  padding: 0;
}